<%# Original HTML form %>
<% if false %>

<form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]">
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]">
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
</form>

<% end %>

<%# Original Railsy form_tag form %>
<% if false %>

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>

<% end %>

<%# Railsy-er form_with form %> 

<%= form_with model: @user do |form| %>

  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= label_tag(:username, "Pick a good one...") %>
    <%= form.text_field :username, placeholder: 'Username' %>
  </p>
  
  <p>
    <%= label_tag(:email, "Email:") %>
    <%= form.email_field :email, placeholder: 'email@email.com' %>
  </p>
  
  <p>
    <%= label_tag(:password, "Password:") %>
    <%= form.password_field(:password, placeholder: '****************') %>
  </p>

    <%= form.submit "Submit" %>

<% end %>